<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="lib/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(todo,index) in todos">
                <input type="checkbox" :checked="todo.complete">{{todo.content}}
            </li>
        </ul>
        <p v-show="books.length == 0">目前無任何書籍</p>
        <!-- <h2 v-else-if="books.length == 1">{{books[0]}}</h2> -->
        <ul v-show="books.length>0">
            <li v-for="book in books">{{book}}</li>
        </ul>
        <div class="question">
            <p>問: Vue 是一個什麼框架?</p>
            <p v-show="showAnswer==true" class="answer">
                答: Vue 是一套用於構建用戶介面的漸進式框架 
            </p>
            <button @click="showAnswer = !showAnswer">{{showAnswer ? "隱藏" : "顯示"}}答案</button>
            <!-- 當 showAnswer 為真則執行 "隱藏"，當 showAnswer 為否則執行 "顯示" -->
            <button @click="showAnswer = !showAnswer">{{label}}</button>
            <button @click="toggleAnswer()">{{label}}</button><!--method--><!--computed-->
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>